[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Actix + juniper + diesel
[access "refs/*"]
	owner = group user/medga
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/medga
	label-Verified = -1..+1 group user/medga
	push = group user/medga
	read = group user/medga
	rebase = group user/medga
	removeReviewer = group user/medga
	submit = group user/medga
[access "refs/heads/*"]
	create = group user/medga
	push = +force group user/medga
	pushMerge = group user/medga
	read = group user/medga
[access "refs/tags/*"]
	push = group user/medga
	push = +force group user/medga
